﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Sistema de Controle de Pagamento de Pedidos</h1>
    <br />
    <br />
    <h3> Seja Bem Vindo!</h3>
    <h3>Cadastre os pedidos, visualize as datas de vencimento e aplique descontos.</h3>
</div>
